@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-edmanDark text-gray-200;
  font-family: 'Segoe UI', sans-serif;
}

@keyframes float {
  0% { transform: translateY(0px); }
  50% { transform: translateY(-15px); }
  100% { transform: translateY(0px); }
}

.animate-float {
  animation: float 6s ease-in-out infinite;
}

.animate-floatSlow {
  animation: float 10s ease-in-out infinite;
}